# NeoSurvive CODEOWNERS
# Project owners (별표 = 이 프로젝트 주인, 전원 리뷰어 대상):
# * @JLien0422
# * @Xabuna451
# * @csy40110
# * @tttghost
#
# Note: making reviews "required" also needs GitHub branch protection settings.

* @JLien0422 @Xabuna451 @csy40110 @tttghost
